/* Justify regular content */
.md-content {
    text-align: justify;
  }

/* Increase logo size in the header */
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: auto;
    height: 2.5rem;  /* Adjust this value (e.g., 2.5rem, 3rem) */
  }

/* docs/stylesheets/extra.css */
.img-border {
    border: 2px solid #000 !important;
    padding: 0.25px;
    border-radius: 0; /* Remove if you want rounded corners */
  }

/*Increase size of site name */
.md-header__topic {
  font-size: 1.1rem !important; /* Adjust as needed */
  font-weight: bold;
}

/* Image caption styling */
.image-caption {
  font-size: 0.4rem;
  color: #666;
  text-align: center;
  margin-top: 0.4rem;
  line-height: 1.4;
}

.align-with-heading {
  float: right;
  margin-left: 20px;
  margin-top: 0 !important; /* Override previous 30px */
  display: inline-block; /* Add this */
  vertical-align: middle; /* Align with heading */
}

.align-with-heading + .align-with-heading {
  margin-top: 2rem !important;
}

/* Card-style header */
.tools-header {
  background-color: #e8f5e9;
  padding: 8px 15px;
  border-left: 4px solid #2a8000;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Header of pages */
.page-headers h1 {
  color: #2a6d3c !important;
  font-size: 2rem !important;
  margin-bottom: 1.5rem !important;
  font-weight: 500 !important;
}



  
  