/* Justify regular content */
.md-content {
    text-align: justify;
  }
  

/* Increase logo size in the header */
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: auto;
    height: 2.5rem;  /* Adjust this value (e.g., 2.5rem, 3rem) */
  }

/* docs/stylesheets/extra.css */
.img-border {
    border: 2px solid #000 !important;
    padding: 0.25px;
    border-radius: 0; /* Remove if you want rounded corners */
  }

.align-with-heading {
    float: right;
    margin-left: 20px;
    margin-top: 30px !important; /* Matches heading's top spacing */
  }

/*Increase size of site name */
.md-header__topic {
  font-size: 1.1rem !important; /* Adjust as needed */
  font-weight: bold;
}



